/* DEFAULT CSS */
.landing_page_main {
  padding: 2.5rem;
}

.landing_page {
  padding: 4rem;
  background-color: #f7e0da82;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.logo_box {
  width: 30%;
  display: flex;
  align-items: center;
}
.logo {
  width: 40%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  display: flex;
}

.links ul li {
  padding: 1rem;
  list-style: none;
}

.links ul li a {
  padding-bottom: 0.2rem;
  text-decoration: none;
  color: #000;
}

.links ul li a:hover {
  border-bottom: 4px solid #ec884d;
  transition: 0.3s all;
  font-weight: bold;
  cursor: pointer;
}

.landing_body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_text_body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* text-align: center; */
  width: 60%;
}

.landing_text {
  width: 100%;
  font-size: 56px;
  font-weight: 500;
  font-family: "Autour One";
}

.landing_subtext {
  width: 100%;
  padding: 1rem 0rem;
  color: #666680;
  font-style: italic;
  text-align: center;
}

.span_text {
  color: #ec884d;
  font-family: "Autour One";
  font-weight: bolder;
}

.extras {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}

.extras_one {
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.extras_img {
  width: 10%;
  filter: drop-shadow(10px 3px 3px #ec874d51);
}

.program_main {
  padding: 4rem 12rem;
}

.program_main_header {
  color: #4d7a9d;
  font-weight: 600;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

.program_box {
  padding: 2rem;
  background-color: #e7651acd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
}

.program_section {
  border: 1px solid white;
  padding: 2rem;
  border-radius: 2rem;
}

.program_section_one{
  padding: 2rem;
  border-radius: 2rem;
  background-color:white;
}

.program_section:hover {
  background-color: white;
  transition: 0.3s all ease-in-out;
  /* cursor: pointer; */
  transform: scale(1.05);
}

.program_title {
  color: #fff;
  font-family: "Autour One";
  font-size: 1.3rem;
  font-weight: bold;
}

.program_title_one {
  color: #ec884d;
  font-family: "Autour One";
  font-size: 1.3rem;
  font-weight: bold;
}

.program_section:hover .program_title,
.program_section:hover .program_subtitle {
  color: #ec884d;
  transition: 0.3s all ease-in-out;
}

.program_section_one:hover{
  border: 1px solid white;
  background-color: #ec884d;
  transition: 0.3s all ease-in-out;
  transform: scale(0.9);

} 
.program_section_one:hover .program_title_one,
.program_section_one:hover .program_subtitle_one {
  color: white;
  transition: 0.3s all ease-in-out;
}

.program_subtitle {
  color: #fff;
  padding-top: 1rem;
}

.program_subtitle_one{
  color: #ec884d;
  padding-top: 1rem;
}


.classes_section {
  padding: 4rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class_box {
  flex: 1;
}

.class_box_content {
  display: flex;
  flex-direction: column;
}

.class_box img {
  width: 100%;
  border-radius: 4rem;
}

.class_box_text {
  font-family: "Autour One";
  color: #ec884d;
  font-size: 3rem;
  font-weight: bold;
}

.content_list {
  display: flex;
  padding: 1rem;
}
.content_list_box {
  width: 3%;
}

.content_list_item {
  padding-left: 1rem;
  font-size: 1.2rem;
  font-family: "Autour One";
  color: #ec884d;
}

.content_list_item_img {
  /* width: %; */
  /* border: none; */
}

.superstars_container {
  padding: 2rem 12rem;
  color: #ec884d;
  font-size: 2rem;
  font-weight: bold;
}
.superstar_header {
  font-family: "Autour One";
}

.superstars_main {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.superstars_box {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.superstars_box_img_container{
    display: flex;
    /* justify-content: center; */
}

.superstars_box_img {
  width: 95%;
  border-radius: 1.5rem;
}


.superstar_name_box {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.superstar_name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.superstars_flag_img {
  width: 15%;
}
