/* DEFAULT CSS */
.landing_page_main {
  padding: 2.5rem;
}

.landing_page {
  padding: 2rem 4rem;
  background-color: #f7e0da82;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.logo_box {
  width: 30%;
  display: flex;
  align-items: center;
}
.logo {
  width: 40%;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  display: flex;
}

.links ul li {
  padding: 1rem;
  list-style: none;
}

.links ul li a {
  padding-bottom: 0.2rem;
  text-decoration: none;
  color: #000;
}

.links ul li a:hover {
  border-bottom: 4px solid #ec884d;
  transition: 0.3s all;
  font-weight: bold;
  cursor: pointer;
}

.landing_body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing_text_body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /* text-align: center; */
  border: 3px solid red;
  width: 60%;
}

.landing_text {
  border: 1px solid blue;
  width: 100%;
  text-align: center;
  font-size: 56px;
  font-weight: 500;
  font-family: "Autour One";
}

.landing_subtext {
  width: 100%;
  padding: 1rem 0rem;
  color: #666680;
  font-style: italic;
  text-align: center;
}

.span_text {
  color: #ec884d;
  font-family: "Autour One";
  font-weight: bolder;
}

.extras {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.extras_one {
  margin-top: 12rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.extras_img {
  width: 10%;
  filter: drop-shadow(10px 3px 3px #ec874d51);
}

.program_main {
  padding: 4rem 12rem;
  
}

.program_main_header {
  color: #ec884d;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  padding: 3rem;
  font-family: "Autour One";
}

.program_box {
  padding: 2rem;
  background-color: #e7651acd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 2rem;
}

.program_section {
  border: 1px solid white;
  padding: 2rem;
  border-radius: 2rem;
}

.program_section_one {
  padding: 2rem;
  border-radius: 2rem;
  background-color: white;  

}

.program_section:hover {
  background-color: white;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(1.05);
}

.program_title {
  color: #fff;
  font-family: "Autour One";
  font-size: 1.3rem;
  font-weight: bold;
}

.program_title_one {
  color: #ec884d;
  font-family: "Autour One";
  font-size: 1.3rem;
  font-weight: bold;
}

.program_section:hover .program_title,
.program_section:hover .program_subtitle {
  color: #ec884d;
  transition: 0.3s all ease-in-out;
}

.program_section_one:hover {
  border: 1px solid white;
  background-color: #ec884d;
  transition: 0.3s all ease-in-out;
  transform: scale(0.9);
}
.program_section_one:hover .program_title_one,
.program_section_one:hover .program_subtitle_one {
  color: white;
  transition: 0.3s all ease-in-out;
}

.program_subtitle {
  color: #fff;
  padding-top: 1rem;
}

.program_subtitle_one {
  color: #ec884d;
  padding-top: 1rem;
}

.courses_main{
  padding: 0rem 12rem;
}

.courses_boxes{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.course_card{
  width: 28%;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 1rem;
  padding: 1rem;
}



.course_card_img{
  width: 50%;
}

.course_title{
  padding-top: 1.5rem;
  font-family: "Autour One";
  font-size: 1.5rem;
  color: #ec884d;
  font-weight: bold;
}

.course_description{
  padding: 1rem;
  text-align: justify;
  line-height: 1.5;
}

.courses_list{
  padding-top:1rem;
  font-weight: bold;
}

.classes_section {
  padding: 4rem 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.class_box {
  width: 50%;
}

.class_box_content {
  display: flex;
  flex-direction: column;
}

.class_box_image_container{
  display: flex;
  justify-content: flex-end;
}

.class_box img {
  width: 70%;
}

.class_box_text {
  width: 90%;
    font-size: 36px;
    font-weight: 500;
    font-family: "Autour One";
}

.classroom_benefits_main{
  padding: 1rem;
}
.classroom_benefits_container{
  display: flex;
  padding-top: 2rem;
}

.classroom_benefits_pic_container{
  background-color: #4d7a9d;
  padding:.5rem ;
  border-radius: 1rem;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.classroom_benefits_pic_container img{
  width: 90%;
}

.classroom_benefits_text{
  padding-left: 1rem;
}

.classroom_benefits_head_text{
  font-size: 1.2rem;
  font-family: "Autour One";
  font-weight: bold;
  color: #ec884d;
}

.classroom_benefits_text_body{
  line-height: 1.5;
  padding-top: 1rem;
}

.testimonial_section{
  padding: 1rem 10rem;
}

.testimonial_section_header{
  font-size: 1.5rem;
  font-family: "Autour One";
  text-align: center;
  color: #ec884d;
  font-weight: bold;
  padding: 3rem;

}

.testimonial_section_container{
  display: flex;
}

.testimonial_section_container_box{
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  width: 30%; 
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.testimonial_section_container_text{
  line-height: 1.6;
}

.testimonial_profile_section{
  display: flex;
  align-items: center;
  padding-top: 2.5rem;

}

.testimonial_profile_pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  overflow: hidden; /* Hide any overflow */
}

.testimonial_profile_pic img {
  width: 90%;
}

.testimonial_profile_name{
  font-weight: bold;
  font-family: "Autour One";
  padding-left: .5rem;
}

.testimonial_profile_description{
  font-style: italic;
  padding-left: .5rem;

}

.superstars_container {
  padding: 4rem 12rem;
  color: #ec884d;
  font-size: 2rem;
  font-weight: bold;
}
.superstar_header {
  font-family: "Autour One";
  padding: 2rem 0rem;
  text-align: center;
  font-size: 1.5rem;
}

.superstars_main {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.superstars_box {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.superstars_box_img_container {
  display: flex;
  /* justify-content: center; */
}

.superstars_box_img {
  width: 95%;
  border-radius: 1.5rem;
}

.superstar_name_box {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.superstar_name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-left: 0.5rem;
}

.superstars_flag_img {
  width: 15%;
}

.footer {
  padding: 3rem 15rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  background-color: #f7e0da82;
}

.footer_box {
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.footer_subheader {
  font-family: "Autour One";
  font-size: 1.3rem;
  color: var(--primary-color);
  padding: 1rem;
  font-weight: bold;
  align-self: flex-end;
}

.footer_item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.footer_item_header {
  font-family: "Autour One";
  align-self: flex-end;
  color: var(--primary-color);
  align-self: flex-end;
}

.footer_item_text {
  align-self: flex-end;
}

.footer_about_box {
  width: 40%;
  border-right: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Autour One";
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
  width: 100%;
}

.footer_logo img {
  width: 5%;
  padding-right: 10px;
}

.footer_about_text {
  text-align: center;
}

.footer_utility_subheader {
  font-family: "Autour One";
  font-size: 1.3rem;
  color: var(--primary-color);
  padding: 1rem;
  font-weight: bold;
}

.footer_utility_text {
}

.footer_socials {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.footer_social_box {
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff6f1;
}

.fa-brands {
  color: var(--primary-color);
  font-size: 20px;
}
