/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Autour+One&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Root Styles */
:root {
  --primary-color: #ec884d;
  --secondary-color: #4d7a9d;
  --text-color: #525c60;
  --normal-font-family: "Raleway", sans-serif;
  --font-size: 16px;
}


/* icons import */
@import "~@flaticon/flaticon-uicons/css/all/all";

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}
